html {
    
    background-color: #fff;
    /*font-family: Monaco, Consolas, "Lucida Console", monospace;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:17px;
    color:#424242;
    line-height:1.4;
    /*max-width:60rem;*/
    margin: 0 auto;
  }

  body {
   
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }

  .topArea {
    z-index: 3;
    postion: relative;
    height: 70%;
    width: 100%;

    overflow-y: hidden;
  }

  .myInfo, .bookmarks {
    position: relative;
    margin: 0;
    display: inline-block;
    height: 100%;
  }
  .myInfo {
    float: left;
    width: 29%;
    text-align: center;
    padding: 10;
    padding-top: 50;
    margin: 0 auto;
  }

  .myInfo p {
    color: black;
  }

  #theTime {
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    font-size: 80px;
    margin-bottom: 15px;
  }

  #theDate {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 400;
  }

  .bookmarks {
    position: relative;
    float: right;
    width: 69%;
  }

  #notes {
    z-index: 1;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color:#fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    padding:40px;
    max-width:60rem;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
  }